.about{
    display: flex;
    align-items: center;
    gap: 3em;
    margin: auto;
    margin-top: 11em;
    width: 80%;
	flex-wrap: wrap;
    flex-direction: row;                                
}                                                               

.about-txt{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 40%;
}
.title{
    color: rgb(7, 27, 83);
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 2em;
}

.txt{
    line-height: 25px;
    font-size: 17px;
}

.photo{
    width: 40em;
}

.photo img{
    width: 100%;
    border-radius: 2em;
    box-shadow: 0 0 10px rgb(7, 56, 121);
}








