footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background-color: #f7f7f9;
    margin-top: 1em;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    height: fit-content;
}

.footer-logo img{
    width: 255px;
}

.footer-nav-title{
    color: #01df93;
}

.footer-nav li,a{
    list-style: none;
    color: #340182;
    padding-top: 5px;
}

.footer-nav a:hover{
    color: #01df93;
}

.footer-contact{
    display: flex;
    flex-direction: column;
}

.footer-contact li, a{
    list-style: none;
    color: #340182;
    padding-top: 5px;
}

.footer-contact a:hover{
    color: #01df93;
}

.footer-social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-social-icons img{
    margin-top: 0.5em;
    margin-left: 1em;
    height: 30px;
}