header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-bottom: 1px solid black; */
    padding: 0 10%;

}

.logo h1 span{
    color: rgb(31, 108, 210);
}

.nav-links{
    display: flex;
    gap: 2em;
}

.nav-links li{
    padding: 2em 0;
}

.nav-links li a{
    color: black;
    font-weight: 600;
}

.auth {
    display: flex;
    gap: 1em;
}

.auth p a{
    color: black;
    font-weight: 600;
}

.bg-image{
    background: linear-gradient(109.6deg, rgb(36, 45, 57) 11.2%, rgb(16, 37, 60) 51.2%, rgb(0, 0, 0) 98.6%);
    height: 90vh;
}

.forms{
    padding-top: 10em;
}

form {
    /* background-color: #fff; */
    background-image: linear-gradient(178.1deg, #211b53 8.5%, #171445 82.4%), rgb(36, 45, 57) 11.2%;
    width: fit-content;
    margin: auto;
    padding: 2em 3em;
    width: 500px;
    border-radius: 30px;
    
}

.form-title{
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

input{
    color: #fff;
    margin: 7px 0;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    width: max(27em, 20vw);
    padding: 10px;
    color: white;
}

::placeholder{
    color: white;
}

input.form-input:-webkit-autofill,
input.form-input:-webkit-autofill:hover,
input.form-input:-webkit-autofill:focus,
input.form-input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 5000s ease-in-out 0s;
    -webkit-box-shadow: 0 0 0px 1000px inherit inset;
    box-shadow: 0 0 0px 1000px inherit inset;
    -webkit-text-fill-color: #f3f3f3 !important;
}

input.mesazhi{
    padding: 2em;
    padding-left: 10px;
}


.button{
    border: 1px solid black;
    background-color: white;
    color: black;
    padding: 10px;
    width: 10em;
    border-radius: 25px;
    margin-top: 1em;
}

.reg{
    margin: 9px 12px;
    color: white;
}

.reg a{
    color: rgb(31, 118, 175);
}

.button:hover{
    background: rgb(31, 118, 175);
    color: #fff;
    cursor: pointer;
}