.container{
    width: 40%;
    height: 300px;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 1px solid black;
    margin: auto auto;
    flex-direction: column;
    border-radius: 25px;
}
h1{
    padding-bottom: 12px;
}
input{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background-color: white;
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    font-weight: bold;
}

.button{
    background-color: white;
}

.reg{
    margin-top: 12px;
    margin-bottom: 12px;
}

.button:hover{
    background-color: grey;
}