/* CSS per div e mesazheve */
.mesazhiGabimStyle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: red;
  padding: 10px;
  width: 20%;
  border-radius: 25px;
  color: white;
}

.mesazhiSuksesStyle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #45c263;
  padding: 10px;
  width: 30%;
  border-radius: 25px;
  color: white;
}

#mbyllMesazhin {
  border: none;
  background-color: white;
  color: black;
  padding: 2px;
  width: fit-content;
  border-radius: 5px;
}

#mbyllMesazhin:hover {
  background: #01df93;
  color: #fff;
  cursor: pointer;
}
