.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.produkti {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
