*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 10%;
    width: 100%;
    background-color: white;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    font-size: 32px;
    width: 33%;
}

.logo li span{
    color: rgb(31, 108, 210);
}

.logo li a{
    color: black;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 33%;
}

.nav-links li{
    padding: 2em 0;
}

.nav-links li a{
    color: black;
    font-weight: 600;
}

.auth{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2em;
    width: 33%;
}

.auth li{
    padding: 2em 0;
}

.auth li a{
    color: black;
    font-weight: 600;
}